<footer
  class="text-fg/50 pointer-events-none flex flex-row items-center justify-between gap-4 pt-16 text-xs"
>
  <p class="font-bold">Site by Protogen Sora</p>
  <a
    class="pointer-events-auto transition-colors hover:text-white/75"
    target="_blank"
    rel="noopener"
    href="https://github.com/sxnic/website">Source Code</a
  >
</footer>
